<form action="/add_departure"><input type="submit" value="Log Departure" style="width: 100%"></form>
<br />
<form action="/add_arrival"><input type="submit" value="Log Arrival" style="width: 100%"></form>
<br />

<table>
  <tr>
    <th>Date</th>
    <th>Departure Time</th>
    <th>Arrival Time</th>
    <th>Duration</th>
  </tr>

  <% @trips.each do |trip| %>
    <tr>
      <td><%= trip.date %></td>
      <td><%= trip.departure_time %></td>
      <td><%= trip.arrival_time %></td>
      <td><%= trip.duration_string %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to 'Download', data_csv_path %></p>
<p><%= link_to 'Edit raw events', events_path %></p>
<p><%= link_to 'Clear all', delete_all_path, data: { confirm: 'Are you sure?' } %></p>
